RewriteEngine On
RewriteBase /API/public/

# Asegúrate de que las rutas se redirijan al index.php en public/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^public/(.*)$ public/$1 [L]

# Redirige todas las solicitudes hacia el archivo index.php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ public/index.php/$1 [QSA,L]
